<!--div class="mat-typography mat-app-background">
  <app-form-field-label-example></app-form-field-label-example>
  <span class="version-info">Current build: 15.0.4</span>
</div>
<app-login></app-login-->
<div class="body">
  <div class="login">
    <form [formGroup]="form" (ngSubmit)="guardar()">
      <h1>Example con ControlValueAccessor</h1>

      <app-input-help formControlName="usuario" [values]="values[0]" [form]="form"></app-input-help>

      <app-input-help-date formControlName="fechaP" [values]="values[1]" [form]="form"></app-input-help-date>

      <app-input-help-date-range [values]="dateRangeHelp" [form]="form"></app-input-help-date-range>

      <button
        type="submit"
        mat-raised-button
        color="primary"
        class="ancho button" style="margin-top: 25px;"
        [disabled]="!form.valid"
      >
        Acceder
      </button>
    </form>
    <pre>{{ form.valid}}</pre>
    <pre>{{ form.value | json }}</pre>
  </div>
</div>

<div class="body">
  <div class="login">
    <form [formGroup]="form2" (ngSubmit)="guardar2()">
      <h1>Example con Input y Ouput</h1>
      <app-input-help2 [form]="form2" [values]="values2[0]"></app-input-help2>
      <app-input-date [form]="form2" [values]="values2[1]"></app-input-date>
      <app-input-date-range [form]="form2" [values]="dateRange"></app-input-date-range>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        class="ancho button" style="margin-top: 25px;"
        [disabled]="!form2.valid"
      >
        Acceder
      </button>
    </form>
    <pre>{{ form2.valid}}</pre>
    <pre>{{ form2.value | json }}</pre>
  </div>
</div>
