/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 30px; font-family: Roboto, "Helvetica Neue", sans-serif; }

.body{
  display: flex;
  justify-content: center;
  height: 80%;
  align-items: center;
  background-color: #f5f5f5;
}

.login{

  width: 100%;
  max-width: 330px;
  text-align: center;

}

.ancho{
  width: 80%;
}

.button{
  height: 50px;
}

.spiner{
  margin: 0 auto;;
}

/******************************************************************/
.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.right{
  background-position: left center;
}
